
<% include ./partials/header %>




<div class="ui text container">
	 <div class="ui one column grid">
	    <div class="column">
				<%guitarists.forEach(guitarist=>{%>
					<div>
					<h2><%= guitarist.name %></h2>
					<img src="<%= guitarist.image %>">
					<p><%= guitarist.bio%></p>	
					</div>	
				<%})%>
	    </div>
	  </div>
</div>


<% include ./partials/footer %>
