



<% include ./partials/header %>


	<div>
	<h2><%= guitarist.name %></h2>
	<img src="<%= guitarist.image %>">
	<p><%= guitarist.bio%></p>	
	<form method="POST" action="/guitarists/<%= guitarist._id %>?_method=DELETE" id="delete">
			<button class="ui red basic button">Delete</button>
	</form>	
	</div>	



<% include ./partials/footer %>
